<!-- <img src="/assets/mock-data/img/mri.jpg">
<img src="/assets/mock-data/img/bldreport.png">
<img src="/assets/mock-data/img/prescription.jpg">
<img src="/assets/mock-data/img/xray.jpg"> -->

<h1 class="view-header">Medical Images</h1>


<div class="reports">
	<div class="single-report" *ngFor = "let singleReport of reports" [class.aku-class]="singleReport === selectedReport" >

		<p class="p-select" (click)="reportWasSelected(singleReport)">
				<img class="medImgs" [src] = "singleReport.src" >
				<br>
  			{{singleReport.id}} = {{singleReport.type}}
		</p>
	</div>
</div>
