.p-select{
	color: #ffffff;
}


.p-select:hover{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.aku-class{
	color: grey;
}

.reports {
	background-color: #39CCCC;
  display: grid;
	padding: 20px;
	margin: auto;
  grid-template-columns: auto auto auto;
}
.single-report {
  background-color: #05939D;
	font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
