:host{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.imgs-area{
	position: absolute;

	width: 100%;
	height: 100%;
	display: block;

	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
}

.selected-report-viewer{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 40px;
	position: absolute;
	z-index: 1;
}
