:host{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;

	background-color: #B0BEC5;
}

.report-header{
	height: 10%;
}

.close-me{
	font-size: 40px;
	background: #FF7B62;
	border: 4px outset red;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	margin-right: 100px;

	position: absolute;
	left: 2%;
}

.report-main{
	position: absolute;
	height: 90%;
	width: 100%;
	font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
	padding-top: 50px;
}

.img-wrapper{
	cursor: pointer;
	position: absolute;
	left: 0;
	width: 40%;
	height: 100%;
	display: inline-block;
}

.data-wrapper{
	position: absolute;
	left: 40%;
	width: 60%;
	height: 100%;
	display: inline-block;
}

.med-img {
	margin: 10% 0 auto;
	height: 80%;
	width: 90%;
	object-fit: contain;
}
